.banner {
    padding-left: 0;
    padding-right: 0;
    width: auto;
    float: none;
    top: 0;
    left: 0;
    position: relative;
    height: auto;
    max-width: 100%;
    min-width: 0;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
}